.magnify__container {
	border-radius: 20px;
}

.product__modal .modal-body .slider__container {
	padding: 0 30px;
	padding-bottom: 75px;
}

.product__modal .modal-body .slider__container img {
	border-radius: 20px;
}

.product__modal .modal-header {
	border-bottom: none;
	padding-bottom: 0;
}

.slick-thumb {
	bottom: -72px;
}

.slick-thumb li {
	width: 72px;
	height: 72px;
}

.slick-thumb li.slick-active img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.slick-thumb li img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	margin-top: 10px;
	border-radius: 5px;
}
