.magnify__container {
	border-radius: 20px;
}

.product__modal .modal-body .slider__container {
	padding: 30px;
	padding-top: 0;
}

.product__modal .modal-header {
	border-bottom: none;
	padding-bottom: 0;
}
