@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap");

body {
	font-family: "Work Sans", sans-serif;
}

.slick-arrow {
	background-color: lightgray;
	border-radius: 10px;
}

.slick-arrow:hover {
	background-color: orangered;
}
