@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap");

body {
	font-family: "Work Sans", sans-serif;
}

.slick-arrow {
	background-color: lightgray;
	border-radius: 10px;
}

.slick-arrow:hover {
	background-color: orangered;
}

.social__link__color {
	color: white;
	margin: 0 5px;
}

.social__link__color:hover {
	color: lightgray;
}

.facebook__bgcolor {
	background-color: #1b4e9b;
}

.twitter__bgcolor {
	background-color: #00aeef;
}

.googeplus__bgcolor {
	background-color: #c00;
}

/* Bootstrap Style */

.close {
	float: right;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: 0.5;
}

button.close {
	padding: 0;
	background-color: transparent;
	border: 0;
}

.modal-header .close {
	padding: 1rem;
	margin: -1rem -1rem -1rem auto;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}
